# .scs-commander env file template
#
# Set some or all of the following environment variables and save the file
# as .scs-commander in your user's home directory.
#

# Your Shopware community store username (can be overwritten by passing -u|--username to any command)
# SCS_USERNAME=

# Your Shopware community store password
# SCS_PASSWORD=

# Set this option to 1 to disable any 'growl' notifications
# SCS_DISABLE_GROWL=0

# The release event endpoint URL to call for slack notifications
# SCS_RELEASE_EVENT_ENDPOINT=
